@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,700;1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.6; }

#container-top.home {
  font-size: 1.6rem; }

.dishes-container .dish-item-cont {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .dishes-container .dish-item-cont.active {
    visibility: visible;
    opacity: 1; }

.dishes-container .dish-item-cont.slider01 {
  background-image: url(../img/dishes/index/01.jpg);
  background-position: center;
  background-size: cover; }

.dishes-container .dish-item-cont.slider02 {
  background-image: url(../img/dishes/index/02.jpg);
  background-position: center;
  background-size: cover; }

.dishes-container .dish-item-cont.slider03 {
  background-image: url(../img/dishes/index/03.jpg);
  background-position: center;
  background-size: cover; }

.dishes-container .dish-item-cont.slider04 {
  background-image: url(../img/dishes/index/04.jpg);
  background-position: center;
  background-size: cover; }

.dishes-container .dish-item-cont.slider05 {
  background-image: url(../img/dishes/index/05.jpg);
  background-position: center;
  background-size: cover; }

#container-top.home .home-slider {
  position: relative; }
  #container-top.home .home-slider .dishes-container {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    background-color: black; }
    #container-top.home .home-slider .dishes-container .dish-name-cont {
      position: absolute;
      top: 3rem;
      left: 4rem;
      max-width: 40%; }
      #container-top.home .home-slider .dishes-container .dish-name-cont h2 {
        font-size: 6em;
        font-family: "Passion One", cursive;
        line-height: 1;
        color: #ffffff; }
  #container-top.home .home-slider .controls-slider {
    position: absolute;
    bottom: 3rem;
    right: 6rem;
    display: flex; }
    #container-top.home .home-slider .controls-slider div {
      text-align: center;
      cursor: pointer;
      margin-right: 5px; }
      #container-top.home .home-slider .controls-slider div a {
        border: 1px solid white;
        padding: 1rem;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center; }
      #container-top.home .home-slider .controls-slider div i {
        color: white; }

#container-top.home .home-image-gallery .gallery-grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(8, 1fr); }
  #container-top.home .home-image-gallery .gallery-grid .img-container {
    overflow: hidden; }
    #container-top.home .home-image-gallery .gallery-grid .img-container img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      object-position: center;
      transition: all 1.2s ease;
      filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
      /* Firefox 3.5+ */
      filter: gray;
      /* IE6-9 */
      -webkit-filter: grayscale(100%);
      /* Chrome 19+ & Safari 6+ */ }
    #container-top.home .home-image-gallery .gallery-grid .img-container:hover img {
      filter: none;
      /* Firefox 3.5+ */
      filter: none;
      /* IE6-9 */
      -webkit-filter: none;
      /* Chrome 19+ & Safari 6+ */ }
    #container-top.home .home-image-gallery .gallery-grid .img-container.img-grid01 {
      grid-column: 1/3;
      grid-row: 1/3; }
    #container-top.home .home-image-gallery .gallery-grid .img-container.img-grid02 {
      grid-column: 3/7;
      grid-row: 1/3; }
    #container-top.home .home-image-gallery .gallery-grid .img-container.img-grid03 {
      grid-column: 7/-1;
      grid-row: 1/3; }
    #container-top.home .home-image-gallery .gallery-grid .img-container.img-grid04 {
      grid-column: 1/5;
      grid-row: 3/5; }
    #container-top.home .home-image-gallery .gallery-grid .img-container.img-grid05 {
      grid-column: 5/9;
      grid-row: 3/5; }

#container-top.home .home-slogan {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../img/slogan-home-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #container-top.home .home-slogan h3 {
    font-family: "Arvo", serif;
    font-size: 3em;
    line-height: 1;
    margin-bottom: 1rem;
    color: white;
    text-transform: uppercase; }
    #container-top.home .home-slogan h3:nth-child(odd) {
      color: bisque; }

#container-top.home .menu-grid-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; }
  #container-top.home .menu-grid-cont .menu-item {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8% 0;
    transition: all 3s ease;
    background-position: center;
    background-size: 100%; }
    #container-top.home .menu-grid-cont .menu-item:hover {
      background-size: 200%; }
    #container-top.home .menu-grid-cont .menu-item01 {
      background-image: url(../img/history-home.jpg); }
    #container-top.home .menu-grid-cont .menu-item02 {
      background-image: url(../img/team-home.jpg); }
    #container-top.home .menu-grid-cont .menu-item03 {
      background-image: url(../img/wine-home.jpg); }
    #container-top.home .menu-grid-cont .menu-item04 {
      background-image: url(../img/location-home.jpg); }
    #container-top.home .menu-grid-cont .menu-item .item-subtitle {
      color: white;
      font-size: 2rem; }
    #container-top.home .menu-grid-cont .menu-item .item-link a {
      font-family: "Passion One", cursive;
      color: white;
      font-weight: bold;
      font-size: 3rem;
      text-decoration: none; }
